<!DOCTYPE html>
<html ng-app='shopulate' lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Shopulate</title>

        <meta name='description' content=''>
        <meta name='author' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src='./js/main.js'></script>
    </head>
    <body>
      <main ng-controller='InventoryController as ic'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>{{ ic.color }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='merch in ic.all'>
              <td>{{ merch.name }}</td>
              <td ng-show="ic.GBP === false">
                {{ ic.priceConvert(merch) | currency }}
                <img ng-show="merch.discount > 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png">
              </td>
              <td ng-show="ic.GBP === true">
                {{ ic.priceConvert(merch) * 0.7 | currency:"£" }}
                <img ng-show="merch.discount > 0" src="https://tiy-learn-content.s3.amazonaws.com/98350f05-sale_2.png">
              </td>
              <td>{{ merch.quantity }}</td>
              <td>{{ merch.color }}</td>
            </tr>
          </tbody>
        </table>
        <button ng-click='ic.convert()'>Convert</button>
      </main>
    </body>
</html>
